<div class="">
  <div class="scroller pull-center">
  <% @search.businesses.each do |f| %>
      <a href="/show/<%= f.id %>"><%= image_tag(f.image_url.gsub!("ms.jpg","l.jpg"), :class => "img_edit centerize") %></a>
  <% end %>

  </div>
</div>