/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require slick
 *= require slick-theme
 */



.img_edit{
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin: 25px;
  box-shadow: 0 0 30px 1px rgba(0,0,0,0.4);
}

.img_edit:hover{
  box-shadow: 0 0 70px 2px rgba(255,50,50,0.5);

}

.centerize{
  margin-left:26.5em;
}

.minimizer{
  width: 2.5%;
  height: 2.5%;
}

.small{
  width:12%;
  height:12%;
}

.transparent{
  color: transparent;
}

.font-plus{
  font-size: 5em;
}

body{
  background-color:#2563AB;
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



