
.divider{
  width: 100px;
  height: 100px;
  margin-right: 7%;
  /*border-right: dotted #2563AB 3px;*/
  /*border-left: dotted #2563AB 3px;*/
}

.nav-style{
  /*background-color:#74BEFF;*/
  /*border-bottom: solid #4B1532 4px !important;*/
}

.navbar-brand{
  font-size: 40px;
}
.slick-track{
  /*height: 100% !important;*/
}
.img_edit{
  border-radius: 25px;
  width: 60%;
  height: 600px;
  margin: 0 auto;
}
.img_s{
  width: 50%;
  height: 50%;
}
.img_edit:hover{
  box-shadow: 0 0 40px 1px rgba(255,50,50,0.5);
}

.centerize-about{
  margin-left:48%;
  position: relative;
  top: 100px;
}

.minimizer{
  width: 10%;
  height: 400%;
}

.small{
  width:10%;
  height:10%;
  position: relative;
  left: 5px;
  top: 20px;
}

.drop-font-size{
  font-size: 1em;
}

.small_fave{
  width:100px;
  height:100px;
  opacity: 0.5;
}

.transparent{
  color: transparent;
}

.font-plus{
  font-size: 1em;
}

.nav-font-size{
  font-size: 2em;
}

.nav-position{
  position: relative;
  top: 20.5px;
}

.logo-position{
  position: relative;
  top: -12px;
}
.logo{
  width: 50px;
}

.nav-search-margin{

}

.btn-padder{
  padding: 10px;
  height: auto;
}


.text-white{
  color: white !important;
}

#spanArrow{
  /*z-index: 999;*/
  /*width: 50px;*/
}

body{
  background-image: url('https://scontent-sea1-1.xx.fbcdn.net/hphotos-xtp1/t31.0-8/11792017_1669770766588093_7278343843106231900_o.jpg');
  background-size: 100% auto;
  font-family: 'Open Sans Condensed', sans-serif !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.99;
  font-size: 2em;
  width: 100%;
  height: 100%;
}

.login{
  background-color: transparent !important;
}

.nav-head-text{
  text-decoration:none !important;
  color: white !important;
}
.nav-head-text:hover{
  text-decoration:none !important;
  color: white !important;
}

.text-orange{
  color: orange !important;
}

.home-rounder{
  border-radius: 0 0 10px 10px;
  /*opacity: 0.9;*/
}
.main-scroll{
}

.scroller {
  height: 100px;
  width: 100vw;
  margin: 0 auto;
}
.scroller-no-click {
  width: 402px;
  margin: 0 auto;
}
.dropdown-item:hover{
  background-color: white !important;
  color: black !important;
}

.navbar-header{
  border-radius: 0 !important;
}
a{
  text-decoration: none;
  color: black;
}





